PORT=4500
CLAIM_AMOUNT=1000
COOLDOWN_HOURS=24
TREASURY_FLOOR=500000
TREASURY_CEIL=1000000
DONATE_ADDRESS=9WzHyhnanLweqrPJe3KzKNsU8srmzjkXE2oiKZpV1BecK3XuPXS3Ges
MONTHLY_COST_USD=6
NICKS_PER_NOCK=65536
DB_PATH=./faucet.db
FAUCET_PKH=
BALANCE_API_URL=http://127.0.0.1:8082
PRICE_URL=http://127.0.0.1:8086/price
WALLET_BIN=nockchain-wallet
NODE_SOCKET=./fakenet-node/nockchain.sock
TREASURY_POLL_MS=60000
DONATION_POLL_MS=300000
